/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

/*general tag styles*/
body {
 	text-align: center;
 	color: black;
 	background-color: black;
 }

.btn {
	width: 100px;
	margin-bottom: 5px;
}

.warning {
	color: red;
}

a {
	color: black;
}

 hr {
 	width: 40%;
 }

 textarea {
 	width: 300px;
 	height: 120px;
 	resize: none;
 }

/*center layout*/
.middle {
	width: 85%;
	margin: 0 auto;
	margin-top: -18px;
	background-color: beige;
	padding-bottom: 10px;
	min-height: 600px;
}

/*bootstrap form tag*/
.form-group {
	margin: 0 auto;
	width: 300px;
}

/*misc tags named accordingly to erbs*/
.front-page-posts {
	text-align: center;
	background-color: darkgrey;
	margin: 0 auto;
	margin-top: 5px;
	border: 2px solid black;
	width: 500px;
}

.posts-edit {
	text-align: center;
	background-color: darkgrey;
	margin: 0 auto;
	margin-top: 5px;
	border: 2px solid black;
	width: 500px;
}

.posts-new {
	text-align: center;
	background-color: darkgrey;
	margin: 0 auto;
	margin-top: 5px;
	border: 2px solid black;
	width: 500px;
}

.posts-show {
	text-align: center;
	background-color: darkgrey;
	margin: 0 auto;
	margin-top: 5px;
	border: 2px solid black;
	width: 500px;
}

.users-edit {
	text-align: center;
	background-color: darkgrey;
	margin: 0 auto;
	margin-top: 5px;
	border: 2px solid black;
	width: 500px;
}

.users-show {
	text-align: center;
	background-color: darkgrey;
	margin: 0 auto;
	margin-top: 5px;
	border: 2px solid black;
	width: 500px;
}

.users-new {
	text-align: center;
	background-color: darkgrey;
	margin: 0 auto;
	margin-top: 5px;
	border: 2px solid black;
	width: 500px;
}

.comments-edit {
	text-align: center;
	background-color: darkgrey;
	margin: 0 auto;
	margin-top: 5px;
	border: 2px solid black;
	width: 500px;
}

.comments-new {
	text-align: center;
	background-color: darkgrey;
	margin: 0 auto;
	margin-top: 5px;
	border: 2px solid black;
	width: 500px;
}